@import "variables.less";
@import "mixins.less";

// Global Components
html,
body {
    height: 100%;
    width: 100%;
}

body {
    .body-font;
}

a {
    .transition-all;
    color: @linkfarbe;
    &:hover,
    &:focus {
        color: darken(@linkfarbe, 10%);
    }
}

hr {
    max-width: 450px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade(@gray-darker, 10%);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

// Navigation

.navbar-default {
    background-color: white;
    border-color: fade(@gray-darker, 5%);
    .transition-all;
    .heading-font;
    .navbar-header .navbar-brand {
        .heading-font;
        color: @linkfarbe;
        &:hover,
        &:focus {
            color: darken(@theme-primary, 10%);
        }
    }
    .navbar-header .navbar-toggle {
        font-size: 18px;
        color: @gray-darker;
        padding: 8px 10px;
    }
    .nav {
        > li {
            > a {
                .alt-font;
                font-size: 16px;
            }
            > a,
            > a:focus {
                color: @gray-darker;
                &:hover {
                    color: lighten(@theme-primary, 40%);
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: lighten(@theme-primary, 40%) !important;
                    background-color: white;
                    &:hover {
                        background-color: white;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: white;
        border-color: white;
        .navbar-header .navbar-brand {
            color: lighten(@theme-primary, 40%);
            &:hover,
            &:focus {
                color: lighten(@theme-primary, 30%);
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: @theme-primary;
            &:hover {
                color: lighten(@theme-primary, 30%);
            }
        }
        &.affix {
            background-color: white;
            border-color: fade(@gray-darker, 10%);
            .navbar-header .navbar-brand {
                color: @gray-darker;
                &:hover,
                &:focus {
                    color: lighten(@theme-primary, 40%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: @gray-darker;
                &:hover {
                    color: lighten(@theme-primary, 30%);
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    background: url("../img/bg-pattern.png"), @theme-secondary; /* fallback for old browsers */
    background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, @theme-secondary , @theme-tertiary); /* Chrome 10-25, Safari 5.1-6 */
    background: url("../img/bg-pattern.png"), linear-gradient(to left, @theme-secondary , @theme-tertiary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    .header-content {
        text-align: center;
        padding: 150px 0 50px;
        position: relative;
        .header-content-inner {
            position: relative;
            max-width: 500px;
            margin: 0 auto;
            h1 {
                margin-top: 0;
                margin-bottom: 30px;
                font-size: 30px;
            }
            .list-badges {
                margin-bottom: 25px;
                img {
                    height: 50px;
                    margin-bottom: 25px;
                }
            }
        }
    }
    .device-container {
        max-width: 300px;
        margin: 0 auto 100px;
        .screen img {
            border-radius: 3px;
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            text-align: left;
            padding: 0;
            height: 100vh;
            .header-content-inner {
                max-width: none;
                margin: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                h1 {
                    font-size: 35px;
                }
            }
        }
        .device-container {
            max-width: none;
            max-height: calc(100vh - 100px);
            margin: 100px auto 0;
        }
    }
    @media (min-width: 992px) {
        .header-content .header-content-inner h1 {
            font-size: 50px;
        }
    }
}

// Sections

section {
    padding: 100px 0;
    h2 {
        font-size: 50px;
    }
}

section.download {
    padding: 150px 0;
    position: relative;
    h2 {
        margin-top: 0;
        font-size: 50px;
    }
    .badges {
        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}

section.features {
    .section-heading {
        h2 {
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
        }
        margin-bottom: 100px;
    }
    .device-container,
    .feature-item {
        max-width: 300px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 100px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .feature-item {
        text-align: center;
        margin-bottom: 100px;
        h3 {
            font-size: 30px;
        }
        i {
            font-size: 80px;
              background: -webkit-linear-gradient(to left, @theme-secondary , @theme-tertiary);
              background: linear-gradient(to left, @theme-secondary , @theme-tertiary);
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
        }
    }
    @media(min-width: 992px) {
        .device-container,
        .feature-item {
            max-width: none;
        }
    }
}

section.cta {
    position: relative;
    .background-cover;
    background-position: center;
    background-image: url('../img/bg-cta.jpg');
    padding: 250px 0;
    .cta-content {
        position: relative;
        z-index: 1;
        h2 {
            margin-top: 0;
            margin-bottom: 25px;
            color: white;
            max-width: 450px;
            font-size: 50px;
        }
        @media (min-width: 768px) {
            h2 {
                font-size: 80px;
            }
        }
    }
    .overlay {
        height: 100%;
        width: 100%;
        background-color: fade(black, 50%);
        position: absolute;
        top: 0;
        left: 0;
    }
}

section.contact {
    text-align: center;
    h2 {
        margin-top: 0;
        margin-bottom: 25px;
        i {
            color: @brand-google-plus;
        }
    }
    ul.list-social {
        margin-bottom: 0;
        li {
            a {
                display: block;
                height: 80px;
                width: 80px;
                line-height: 80px;
                font-size: 40px;
                border-radius: 100%;
                color: white;
            }
            &.social-twitter {
                a {
                    background-color: @brand-twitter;
                    &:hover {
                        background-color: darken(@brand-twitter, 5%);
                    }
                }
            }
            &.social-facebook {
                a {
                    background-color: @brand-facebook;
                    &:hover {
                        background-color: darken(@brand-facebook, 5%);
                    }
                }
            }
            &.social-google-plus {
                a {
                    background-color: @brand-google-plus;
                    &:hover {
                        background-color: darken(@brand-google-plus, 5%);
                    }
                }
            }
        }
    }
}

footer {
    background-color: @gray-darker;
    padding: 25px 0;
    color: fade(white, 30%);
    text-align: center;
    p {
        font-size: 12px;
        margin: 0;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 12px;
                color: fade(white, 30%);
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                }
            }
        }
    }
}

// Bootstrap Overrides

.bg-primary {
    background: @theme-primary;
    background: -webkit-linear-gradient(darken(@theme-primary, 3%) , #1b4a85);
    background: linear-gradient(darken(@theme-primary, 3%) , #1b4a85);
}

.text-primary {
    color: @linkfarbe;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-outline {
    color: white;
    border-color: white;
    border: 1px solid;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: white;
        //background: -webkit-linear-gradient(to left, lighten(@theme-tertiary, 15%), darken(@theme-secondary, 15%));
        //background:  linear-gradient(to left, lighten(@theme-tertiary, 15%), darken(@theme-secondary, 15%));
        //background: darken(@theme-secondary, 10%);
        background: darken(@theme-tertiary, 2.5%);
        border-color: darken(@theme-tertiary, 5%);
    }
}

.btn {
    .alt-font;
    border-radius: 300px;
}

.btn-xl {
    padding: 15px 45px;
    font-size: 11px;
}

.btn-Formular {
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
}

.login_formular {
    font-size: 20px;
    letter-spacing: 0.04em;
    padding-right: 11px;
    padding-bottom: 3px;
}

.login_formular_pw {
    letter-spacing: 0.04em;
    font-size: 20px;
    padding-right: 25px;
    @media(max-width: 421px) {
        padding-right: 33px;
    }
    @media(max-width: 400px) {
        padding-right: 13px;
    }
}

.en_login_formular_pw {
    letter-spacing: 0.04em;
    font-size: 20px;
    padding-right: 19px;
    @media(max-width: 421px) {
        padding-right: 28px;
    }
}

.cn_login_formular_pw {
    letter-spacing: 0.04em;
    font-size: 20px;
    padding-right: 47px;
    @media(max-width: 391px) {
        padding-right: 55px;
    }
}

.textfeld_login {
    background-color: fade(white, 20%);
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding-left: 5px;
    padding-right: 5px;
    width: 245px;
}

.textfeld_login_pw {
    background-color: fade(white, 20%);
    color: white;
    font-size: 20px;
    border: 1px solid white;
    margin-left: -6px;
    padding-left: 5px;
    padding-right: 34px;
    width: 245px;
}

.padding_button {
    // margin-left: 127px;
    padding-left: 78px;
    padding-right: 78px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: @gray-darker;
}

::selection {
    color: white;
    text-shadow: none;
    background: @gray-darker;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: @gray-darker;
}

.form_checkboxes {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.anleitung {
    font-size: 21px;

    @media(max-width: 1000px) {
        margin-left: -45px;
    }
    @media(max-width: 767px) {
        margin-left: -25px;
        text-align: center;
    }
}

.h_mobile {
    @media(max-width: 1000px) {
        margin-left: -45px;
    }
    @media(max-width: 767px) {
        font-size: 40px;
        margin-bottom: 0px;
        margin-left: -25px;
        text-align: center;
    }
}

.h_settings {
    font-size: 42px;
    margin-bottom: 12px;
    @media(max-width: 767px) {
        padding-top: 50px;
    }
}

.formtype_number {
    background-color: fade(white, 20%);
    color: white;
    font-size: 20px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    width: 68px;
    margin-bottom: 2px;
}

.formtype_number_res {
    background-color: fade(white, 20%);
    color: white;
    font-size: 20px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    width: 260px;
    @media(max-width: 767px) {
        max-width: 270px;
    }
}

.formtype_email {
    background-color: fade(white, 20%);
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding-left: 5px;
    padding-right: 5px;
    width: 310px;
    margin-bottom: 2px;

    @media(max-width: 999px) {
        min-width: 61%;
    }
    @media(max-width: 850px) {
        min-width: 65%;
    }
    @media(max-width: 610px) {
        max-width: 82%;
    }
    @media(max-width: 470px) {
        max-width: 20%;
    }
}

.en_formtype_email {
    background-color: fade(white, 20%);
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding-left: 5px;
    padding-right: 5px;
    width: 310px;
    margin-bottom: 2px;

    @media(max-width: 850px) {
        min-width: 65%;
    }
    @media(max-width: 610px) {
        max-width: 82%;
    }
    @media(max-width: 470px) {
        max-width: 20%;
    }
}

.cn_formtype_email {
    background-color: fade(white, 20%);
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding-left: 5px;
    padding-right: 5px;
    width: 310px;
    margin-bottom: 2px;

    @media(max-width: 650px) {
        min-width: 82%;
    }
    @media(max-width: 470px) {
        max-width: 20%;
    }
    @media(max-width: 325px) {
        min-width: 70%;
    }
}

.settings_formular {
    font-size: 20px;
    letter-spacing: 0.04em;
    padding-right: 9px;
}
.settings_formular_r1 {
    font-size: 23px;
    letter-spacing: 0.04em;
    // padding-left: 31%;
    padding-right: 10px;
    // padding-bottom: 5px;
    margin-top: -5px;
}

#videoSettings {
    width: 74%;
}

.align_left {
    text-align: left;
    padding-bottom: 3px;
}

.align_left_r1 {
    text-align: left;
    margin-left: -5%;
    margin-top: 3%;
    margin-bottom: 15%;
}

.vidpositions{
    // padding-top: 5%;
    // padding-bottom: 5%;
    height: 50%;
    width: 50%;
    margin: 0 auto;
    // padding-top: calc(~"2vh + 85px");
    @media(max-width: 1300px) {
        min-width: 65%;
    }
    @media(max-width: 767px) {
        min-width: 95%;
    }
    @media(max-height: 500px) {
        margin-top: -5%;
        max-width: 130vh;
    }
    position: relative;
}

#localVideo{
    width: 100%;
    border-top: 0.15em solid white;
    border-left: 0.15em solid white;
    z-index: 11;
}

#remoteVideo {
    height: 100%;
    width: 100%;
}

.localvid {
    width: 23%;
    position: absolute;
    bottom: 0;
    right: 0;
    // margin-left: 77%;
    // margin-top: -13.5%;
    z-index: 10;
}

.act_page {
    color: lighten(@theme-primary, 40%) !important;
}

.panel-default > .panel-heading {
    background-color: lighten(@theme-tertiary, 2.5%);
    border-radius: 4;
    border: none;
    color: white;
    // font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.3s;

    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: darken(@theme-tertiary, 2.5%);
    }
}

.panel-body {
    color: black;
    font-size: 19px;
}

.panel {
//   border-width: 0 0 1px 0;
//   border-radius: 4px;
  border-color: @theme-tertiary;
  border-style: solid;
  box-shadow: none;
}

.panel-group .panel + .panel {
  margin-top: 3px;
}

.aFAQ {
    color: white;
    &:hover,
    &:focus {
        color: white;
        text-decoration: none;
    }
}

.section_pattern {
    color: white;
    background: url("../img/bg-pattern.png"), @theme-secondary; /* fallback for old browsers */
    background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, @theme-secondary , @theme-tertiary); /* Chrome 10-25, Safari 5.1-6 */
    background: url("../img/bg-pattern.png"), linear-gradient(to left, @theme-secondary , @theme-tertiary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section_padding {
    padding-bottom: 90px !important;
}

.impressum_link {
    color: white;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: @theme-secondary;
        color: black;
        border: 5px solid @theme-secondary;
        border-radius: 4px;
        transition: 0.0s;
    }
}

.impr_size {
    font-size: 21px;
}

.ueberschrift_verbindung {
font-size: 42px;
padding-top: 95px;

    @media(max-width: 767px) {
        padding-top: 0px;
    }
}

.padding_anleitung {
    padding-left: 62px;

    @media(max-width: 767px) {
        padding-top: 40px;
        padding-left: 40px
    }
}
option {
    color: white;
    background-color: fade(@theme-primary, 70%);

    &:hover,
    &:focus,
    &:active,
    &.active {
        // background-color: black;
    }
}

.eye_style {
    cursor: pointer;
    margin-left: -22px;
    transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
}

.hr_sett {
    border-color: white;
    width: 290px;
    margin-top: -4px;
    padding-bottom: 10px;
}

.inv {
    font-size: 28px;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: fade(@theme-primary, 70%);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: @theme-secondary;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: @theme-secondary;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: @theme-secondary;
}

.inv_sec {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    background: @theme-primary;
    background: -webkit-linear-gradient(lighten(@theme-primary, 6%) , darken(@theme-secondary, 30%));
    background: linear-gradient(lighten(@theme-primary, 6%) , darken(@theme-secondary, 30%));
}

.send-button {
    font-size: 21px;
    padding: 7px;
    padding-right: 11px;
    margin-left: 5px;
    border: 1px solid white;
    border-radius: 13px;

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: white;
        background: darken(@theme-tertiary, 2.5%);
        border-color: darken(@theme-tertiary, 10%);
    }
}

.fR_pos {
    float: left;
    margin-left: 87px;

    @media(max-width: 1199px) {
        margin-left: 37px;
    }
    @media(max-width: 991px) {
        margin-left: 42px;
    }
    @media(max-width: 767px) {
        margin-left: 22vw;
    }
    @media(max-width: 667px) {
        margin-left: 0 auto;
    }
}

.en_fR_pos {
    float: left;
    margin-left: 86px;
    padding-right: 13px;

    @media(max-width: 1199px) {
        margin-left: 37px;
        padding-right: 11.5px;
    }
    @media(max-width: 991px) {
        margin-left: 42px;
    }
    @media(max-width: 767px) {
        margin-left: 22vw;
    }
    @media(max-width: 667px) {
        margin-left: 0 auto;
    }
}

.cn_fR_pos {
    float: left;
    margin-left: 97px;
    padding-right: 30.5px;

    @media(max-width: 1199px) {
        margin-left: 47px;
        padding-right: 30px;
    }
    @media(max-width: 991px) {
        margin-left: 42px;
    }
    @media(max-width: 767px) {
        margin-left: 23.4vw;
    }
    @media(max-width: 667px) {
        margin-left: 0 auto;
    }
}

#frameRate {
    margin-left: 3px;
    float: left;
}

.g_env {
    vertical-align: -21%;
    font-size: 45px;
    padding-right: 8px;
}

.logo_min {
    @media(max-width: 330px) {
        width: 150px !important;
    }
}

#div_hangup_btn {
    height: 50%;
    width: 50%;
    margin: 0 auto;

    @media(max-width: 1300px) {
        min-width: 65%;
    }
    @media(max-width: 767px) {
        min-width: 95%;
    }
    @media(max-height: 500px) {
        margin-top: -5%;
        max-width: 130vh;
    }
}

.hangup_btn {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

#stream {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.schritt_x {
    font-size: 24px;
    line-height: 1.2;
    vertical-align: -50%;
    font-weight: bold;
    letter-spacing: 0.03em;

    @media(max-width: 767px) {
        vertical-align: -100%;
    }
}

.silben_tr {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.nutzungsBDiv{
    margin-top: 50 px !important;

}

.linkNB{
    color: white;
    &:hover,
    &:focus {
        color: darken(white, 10%);
    }
}
